*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/*.properties
/*
/*.iml
/*.bat
/app/app.iml
/app/build
/library/library.iml
/library/build
